.award {
    padding-bottom: 160px;
    .award-box {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 145px 98px 0px 95px;
        background: #e7816b;
        border-radius: 15px;
        z-index: 10;
        background-image: url("../img/hero-oval.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: right;
        background-position-y: 5px;
    }

    .award__header {
        margin: 0;
        margin-bottom: 11px;
        max-width: 530px;
        font-weight: 500;
        font-size: 48px;
        line-height: 48px;
        color: #ffffff;
    }

    .award__text {
        margin: 0;
        margin-bottom: 40px;
        max-width: 445px;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
    }

    .award__img {
        width: 279px;
        height: 510px;
    }
}

@media only screen and (max-width: 1090px) {
    .award {
        .award-box {
            padding: 145px 80px 0px 90px;
        }
    }
}

@media only screen and (max-width: 965px) {
    .award {
        .award-box {
            flex-direction: column;
            align-items: center;
            padding: 145px 70px 0px 95px;
            background-position-x: 200px;
            background-position-y: 100px;
        }

        .award-box__wrap {
            text-align: center;
        }

        .award__img {
            top: 169px;
            right: 50px;
        }

        .award__button {
            margin-bottom: 69px;
        }

        .award__oval {
            right: -100px;
        }
    }
}

@media only screen and (max-width: 910px) {
    .award {
        .award-box {
            padding: 145px 98px 0px 95px;
        }
    }
}

@media only screen and (max-width: 885px) {
    .award {
        .award-box {
            padding: 145px 98px 0px 95px;
            text-align: center;
        }

        .award__header {
            margin: 0 auto;
            margin-bottom: 30px;
        }

        .award__text {
            margin: 0;
            margin-bottom: 40px;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: #ffffff;
        }

        .award__oval {
            right: -100px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .award {
        .award-box {
            padding: 60px 58px 0px 58px;
        }

        .award__img {
            width: 279px;
            height: 400px;
        }
    }
}

@media only screen and (max-width: 630px) {
    .award {
        .award-box {
            padding: 60px 35px 0px 35px;
        }
    }
}

@media only screen and (max-width: 590px) {
    .award {
        .container {
            padding: 0px;
        }
        .award-box {
            padding: 60px 35px 0px 35px;
            border-radius: 0px;
        }

        .award__header {
            font-size: 38px;
            line-height: 40px;
        }

        .award__text {
            font-size: 15px;
            line-height: 25px;
        }
    }
}

@media only screen and (max-width: 490px) {
    .award {
        .award-box {
            padding: 80px 24px 0px 24px;
        }

        .award__header {
            font-size: 32px;
            line-height: 40px;
        }

        .award__text {
            font-size: 15px;
            line-height: 25px;
        }
    }
}

@media only screen and (max-width: 370px) {
    .award {
        .award-box {
            padding: 80px 20px 0px 20px;
        }

        .award__header {
            font-size: 28px;
            line-height: 35px;
        }
    }
}

@media only screen and (max-width: 320px) {
    .award {
        .award-box {
            padding: 80px 20px 0px 20px;
        }

        .award__header {
            font-size: 24px;
            line-height: 35px;
        }
    }
}
